#about {
  color: black;
  background-color: #fcecc9;
  height: 75%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#profile {
  padding: 0;
  margin: 0;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font: ; */
}
#about-content {
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  font-size: 1em;
}
#descrip {
  width: 30%;
  display: inline; /* Ensure text elements are inline */
  height: 100%;
}
#about-content p {
  font-size: clamp(0.5rem, 1vw + 0.25rem, 1.5rem);

  height: 80%;
}
#details {
  width: 30%;
}
.headshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 30%; /* Adjust the height as needed */
}

/* Style the circular headshot */
.headshot-container img {
  height: 150%; /* Set the height of the circular headshot */
  width: auto; /* Set the width of the circular headshot */
  border-radius: 50%; /* Make it circular by setting border-radius to 50% */
}

#about h1,
h2 {
  color: #435c5f;
}

#about h1 {
  font-size: 3em;
  font-weight: 300;
}
#about h2 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 400;
}

#about .line {
  width: 75%;
}

#detailDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
