:root {
  --start-x: 0;
  --start-y: 0;
  --scale-x: 0;
  --scale-y: 0;
}

.card-whole,
.card-placeholder {
  display: flex;
  flex-direction: column;
}

/* General card styling */
.card {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid #b0d9c8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.card a {
  text-decoration: none;
  color: #435c5f;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  padding: 0;
  text-align: center;
  transition: transform 0.8s linear;
  transform-style: preserve-3d;
}

/* Animation when you expand a card */
.card.expanded {
  overflow: visible;
  border: none;
}
.card.expanded .card-content {
  transform: translate(var(--start-x), var(--start-y)) rotateY(180deg)
    scale(var(--scale-x), var(--scale-y));
  transform-origin: middle;

  /* transform: scale(var(--scale-x), var(--scale-y)); */
  position: fixed;
  /* top: var(--start-y); */
  /* top: calc(-1 * (100vh - var(--start-y) + 50px)); */
  /* left: var(--start-x); */
}

/* Animations when you hover over a card */
.card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
#cardtitle {
  transition: transform 0.25s ease;
}
.card-whole:hover .card {
  /* z-index: 10; */
  position: relative;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
.card-whole:hover #cardtitle {
  transform: scale(1.2);
}

/* Scrolling Card Title */
#cardtitle {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  /* max-width: fit-content; */
}
#cardtitle .cardtitle-text {
  display: inline-block;
}
.card-whole:hover .scrollable {
  animation: scroll-title 3s linear infinite;
}
.cardtitle-text {
  font-size: 0.8em;
  /* max-width: max-content; */
}

@keyframes scroll-title {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
    opacity: 1;
  }
  51% {
    transform: translateX(-100%);
    opacity: 0;
  }
  52% {
    transform: translateX(100%);
    opacity: 0;
  }
  53% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

/* Front/Back of the card */
.card img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}

/* Style the front side (fallback if image is missing) */
.card-front {
  background-color: #fcecc9;
  color: black;
}

/* Style the back side */
.card-back {
  background-color: #fcecc9;
  z-index: 10;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
  overflow: hidden; /* Hide overflowing content */
}
.card-back h1 {
  width: 75%;
  white-space: nowrap;
  font-size: 1em;
  display: flex;
  justify-content: center;
  margin: 0.4em;
  margin-bottom: 2px;
  padding: 0;
  color: #435c5f;
  /* text-decoration: underline; */
}
.card-back h2 {
  /* font: italic small-caps bold 16px/1.5 "Times New Roman", serif; */
  font-variant: small-caps;
  font-size: 6px;
  color: #333;
  align-self: flex-start;
  padding: 0px;
  margin: 0px;
}
.card-back p {
  width: 90%;
  /* font-size: 0.35vw; */
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  text-align: left;
}
.card-back #links {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
  align-self: center;
  padding: 5px;
  margin-right: 20px;
  grid-row: 5; /* Place in row 5 */

  /* align-self: flex-end; */
  /* position: relative; */
  /* bottom: -5em; */
}
.card-back a {
  width: 75%;
  font-size: 0.2em;
  margin: 0;
  padding: 0;
  color: #333;
}

.card-back #detailsDiv {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  font-size: 5px;
}
.vertical-bar {
  width: 2px; /* Adjust the width as needed */
  height: 100%; /* Set the height to fill the container */
  background-color: #435c5f; /* Set the background color as desired */
  margin: 0 10px; /* Adjust the margin to control the space around the bar */
}

.card-back #projectContent {
  /* display: flex; */
  display: grid;
  grid-template-rows: repeat(5, 1fr); /* Create 5 rows with equal height */
  /* grid-gap: 10px; Add some gap between the rows and columns */
  /* flex-direction: column;
  justify-content: space-between; */
  width: 100%;
  height: 100%;
}

.card-back #descriptionDiv {
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card-back #descriptionDiv::-webkit-scrollbar {
  display: none;
}
.card-back #techContent {
  grid-row: 4 / span 1; /* Place in row 1 and 2 */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card-back #techs {
  display: flex;
  justify-content: space-evenly;
}

.card-back #techs img {
  width: 2em;
  height: auto;
  border-radius: 0px;
}

.card-back #projectLine {
  border: none; /* Remove the default horizontal line */
  height: 1px; /* Set the height to create a line effect */
  background-color: #435c5f; /* Set the color of the underline */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  width: 30%;
}

.card-back span {
  padding: 5%;
}
