:root {
  --start-x: 0;
  --start-y: 0;
  --scale-x: 0;
  --scale-y: 0;
}

.card-whole,
.card-placeholder {
  display: flex;
  flex-direction: column;
}

/* General card styling */
.card {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid #b0d9c8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.card a {
  text-decoration: none;
  color: #435c5f;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  padding: 0;
  text-align: center;
  transition: transform 0.8s linear;
  transform-style: preserve-3d;
}

/* Animation when you expand a card */
.card.expanded {
  overflow: visible;
  border: none;
}
.card.expanded .card-content {
  transform: translate(var(--start-x), var(--start-y)) rotateY(180deg)
    scale(var(--scale-x), var(--scale-y));
  transform-origin: middle;

  /* transform: scale(var(--scale-x), var(--scale-y)); */
  position: fixed;
  /* top: var(--start-y); */
  /* top: calc(-1 * (100vh - var(--start-y) + 50px)); */
  /* left: var(--start-x); */
}

/* Animations when you hover over a card */
.card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
#cardtitle {
  transition: transform 0.25s ease;
}
.card-whole:hover .card {
  position: relative;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
.card-whole:hover #cardtitle {
  transform: scale(1.2);
}

/* Scrolling Card Title */
#cardtitle {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: center;
  /* max-width: fit-content; */
}
#cardtitle .cardtitle-text {
  display: inline-block;
}
.card-whole:hover .scrollable {
  animation: scroll-title 3s linear infinite;
}
.cardtitle-text {
  font-size: 0.8rem;
  /* max-width: max-content; */
}

@keyframes scroll-title {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
    opacity: 1;
  }
  51% {
    transform: translateX(-100%);
    opacity: 0;
  }
  52% {
    transform: translateX(100%);
    opacity: 0;
  }
  53% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

/* Front/Back of the card */
.card img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}

/* Style the front side (fallback if image is missing) */
.card-front {
  background-color: #fcecc9;
  color: black;
}

/* Style the back side */
.card-back {
  background-color: #fcecc9;
  /* z-index: 10; */
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; /* Hide overflowing content */
}
#titleHeader {
  width: 75%;
  height: 10%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin: 0.1rem;
  margin-bottom: 0.3rem;
  padding: 0;
}
.card-back h1 {
  font-size: clamp(0.25rem, 2vw, 0.5rem);
  color: #435c5f;
}
.card-back p {
  /* font-size: 0.35vw; */
  font-size: 0.25rem;
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: pre-wrap;
  tab-size: 6;
  width: 100%;
}
.card-back #detailsDiv {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  /* padding-top: 10px; */
  /* font-size: 5px; */
  font-size: 1rem;
}
.vertical-bar {
  /* width: 2rem; Adjust the width as needed */
  flex: 0 0 0.25rem;
  height: 100%; /* Set the height to fill the container */
  background-color: #435c5f; /* Set the background color as desired */
  margin: 0 1rem; /* Adjust the margin to control the space around the bar */
}

.card-back #projectContent {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: calc(100% - 4.25rem);
  align-items: flex-start;
  justify-content: space-evenly;

  /* display: grid; */
  grid-template-rows: repeat(10, 1fr); /* Create 5 rows with equal height */
  grid-template-columns: calc(100% - 2rem);
  grid-gap: 1px;
  height: 100%;
}

.card-back h2 {
  font: italic small-caps bold 0.4rem "Times New Roman", serif;
  color: #333;
  align-self: flex-start;
  padding: 0px;
  margin: 0px;
}

.card-back #descriptionDiv {
  grid-row: 2 / 7;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
}

#descriptionDiv::-webkit-scrollbar {
  display: none;
}

.card-back #techContent {
  grid-row: 8 / 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* gap: 1em; */
}

.card-back #techs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 0.25rem;
}

.card-back #links {
  grid-row: 10;
  padding: none;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  align-self: center;
  flex: 0 0 auto;
  width: 100%;
  /* align-self: flex-end; */
  /* position: relative; */
  /* bottom: -5em; */
}
.card-back a {
  width: 75%;
  font-size: 0.3rem;
  margin: 0;
  padding: 0;
  color: #333;
}

.card-back #techs img {
  width: 0.6rem;
  height: auto;
  border-radius: 0px;
  padding: none;
  margin: 0px;
}

.card-back #projectLine {
  border: none; /* Remove the default horizontal line */
  height: 1px; /* Set the height to create a line effect */
  background-color: #435c5f; /* Set the color of the underline */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  width: 30%;
}

.card-back span {
  padding: 5%;
}
