#contact {
  color: black;
  background-color: #fcecc9;
  height: 75%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#contact h1 {
  font-size: 3em;
  font-weight: 300;
}
#contact h2 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 400;
}

#contact .line {
  width: 75%;
}
