#portfolio {
  background-color: #181818;
  color: #fcecc9;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 75%;
  position: relative;
}

#portfolio #portfolioHead {
  padding: 0;
  margin: 0;
  height: 20%;
  font-size: 3em;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio .line {
  width: 75%;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  display: none;
}

/* Page Controls (arrows around cards and viewport) */
.page-controls {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70%;
  margin: 1rem auto;
  position: relative;
}

/* Grid layout for cards */
/* .card-container { */
.cards {
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 100%; */
  width: 100%;
  grid-auto-columns: calc((100% - 4rem - 2px - 2rem) / 3);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  height: calc(100% - 2rem);
  transition: left 1s ease;
  position: relative;
  padding: 1rem;
}
.viewport {
  width: 65%;
  height: 100%;
  /* z-index: 3; */
  /* overflow: hidden; */
  position: relative;
}

.mask-left,
.mask-right {
  background-color: #181818;
  z-index: 4;
  position: relative;
  height: 100%;
  flex: 1;
}

.page-changer {
  z-index: 4;
  width: 5%;
  height: 100%;
  position: relative;
  background-color: #181818;
}
