#portfolio {
  background-color: #181818;
  color: #fcecc9;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 75%;
  position: relative;
}

#portfolio #portfolioHead {
  padding: 0;
  margin: 0;
  height: 20%;
  font-size: 3em;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio .line {
  width: 75%;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}

/* Page Controls (arrows around cards) */
.page-controls {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70%;
  margin: 1rem auto;
  z-index: 3;
  position: relative;
}

/* Grid layout for cards */
/* .card-container { */
.cards {
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 100%; */
  width: 100%;
  grid-auto-columns: calc((100% - 4rem - 2px) / 3);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  height: calc(100% - 2rem);
  transition: transform 1s ease;
  position: absolute;
}
.viewport {
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  position: relative;
}

/* .page-changer {
  z-index: 4;
  position: relative;
  background-color: red;
} */
